<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
<title>Adidab</title>
</head>

<body>
<h2>Hello!</h2>
<p>and welcome to your webapp.</p>
<p>Please select the fields you like from the below options: </p>

<form action="/generate" method="get">
<input type="radio" name="Field" value = "Science">Science<br>
<input type="radio" name="Field" value = "Maths">Maths<br>
<input type="radio" name="Field"value = "English">English<br>
<input type="radio" name="Field" value = "Computers">Computers<br>
<input type="radio" name="Field" value = "Music">Music<br>
<input type="radio" name="Field" value = "Philosophy">Philosophy<br>
<br><br>
<button type="submit">Generate relevant link</button>
</form>

</body>
</html>
